
  .fancytree-container, .fancytree-focus {
    border: none !important;
    outline: none !important;
  }

  #page-wrapper {
  	padding: 15px 30px;
  }

  table tr td {
  	vertical-align: middle !important;
  }